[submodule ".vim/pack/colorschemes/start/vim-colors-solarized"]
	path = .vim/pack/colorschemes/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/pack/syntax/start/vim-javascript"]
	path = .vim/pack/syntax/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule ".vim/pack/syntax/start/auto-pairs"]
	path = .vim/pack/syntax/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule ".vim/pack/system/start/ctrlp.vim"]
	path = .vim/pack/system/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/system/start/vim-gitgutter"]
	path = .vim/pack/system/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule ".vim/pack/system/start/vim-multiple-cursors"]
	path = .vim/pack/system/start/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/pack/system/start/YouCompleteMe"]
	path = .vim/pack/system/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
