[user]
	name = foodev
	email = jonas@foodev.de
[color]
	ui = true
[core]
	editor = vim
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
