[user]
	name = Jonas Hantelmann
	email = jonas@foodev.de
[color]
	ui = true
[core]
	editor = vim
	ignorecase = false
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	diffc = diff --cached
	hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	undo = reset --soft HEAD~
